body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 30px;
    background-color: #f0f0f0;
}
.photo-frame {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 6 columns */
    grid-gap: 5px; /* Space between photos */
    max-width: 80vw;
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    width: 100%;
    max-width: fit-content;
    height: 100%;
}
.photo-frame img {
    width: 100%;
    height: 300px;
}
span {
    margin: 50px;
}
